@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "LeagueSpartan-Bold";
  src: url("../public/fonts/LeagueSpartan-Bold.otf");
}
@font-face {
  font-family: "Fira";
  src: url("../public/fonts/FiraCode.otf");
}
@font-face {
  font-family: "Salt";
  src: url("../public/fonts/Salt.otf");
}
@font-face {
  font-family: "Quote";
  src: url("../public/fonts/Quote.otf");
}
@font-face {
  font-family: "Kashima";
  src: url("../public/fonts/Kashima.otf");
}
